<div>
  <div class="card my-3">

    <div class="card-body">
      <div class="form-group row">
        <div class="col-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Zoek uw stad</span>
            </div>
            <input #citySearchBar type="text" class="form-control" (keyup)="updateCityList(citySearchBar.value)">
          </div>
          <div class="position-relative">
            <ul class="position-absolute list-group">
              <li *ngFor="let city of this.getCityList()" (click)="updateWeather(city.id)" class="list-group-item">{{city.name}}</li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header bg-light">
              <span>{{ this.weatherService.weather.Name}}</span>
            </div>
            <div class="card-body">
              <div>Temperatuur: {{ this.weatherService.weather.Temperature}}</div>
              <div>Min temperatuur: {{ this.weatherService.weather.MinTemperature}}</div>
              <div>Zonsopgang: {{ this.weatherService.weather.Sunrise}}</div>
              <div>Zonsondergang: {{ this.weatherService.weather.Sunset}}</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

